@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    string addbtn = "yes";//ViewBag.isAdd;
    string editbtn = "yes";//ViewBag.isEdit;
    string deletebtn = "yes";//ViewBag.isDelete;

}

@{
    ViewData["Title"] = Localizer["Description Master"];
    ViewData["PageTitle"] = Localizer["Description Master"];
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="row">
                            <label for="Type" class="col-form-label col-sm-2">@Localizer["Language Filter"]</label>
                            <div class="col-md-4">
                                <div class="form-group">

                                    @Html.DropDownList("LanguageFilter", abledoc.Utility.ComboHelper.GetCommonMasterList("Language"), Localizer["Select"].Value, new { @id = "LanguageFilter", @class = "form-control select2", @datastyle = "btn btn-link", @name = "LanguageFilter", @placeholder = "LanguageFilter" })

                                </div>
                            </div>
                            @if (@addbtn == "yes")
                            {
                                <div class="col-md-6 pull-right">
                                    <a href="javascript:;" class="btn btn-primary btn-sm float-sm-right btn-primary-1" id="addNewContent"><i class="fa fa-plus-circle"></i> @Localizer["Add New"]</a>
                                </div>
                            }

                        </div>
                    </div>

                    <div class="card-body">
                        <div class="toolbar">
                            <!--        Here you can write extra buttons/actions for the toolbar              -->
                        </div>
                        <div class="material-datatables">
                            <table id="DiscriptionMasterTable" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>@Localizer["No."]</th>
                                        <th>@Localizer["Language"]</th>
                                        <th>@Localizer["ProductName"]</th>
                                        <th>@Localizer["ProductPrice"]</th>
                                        <th class="disabled-sorting">@Localizer["Actions"]</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>

                            </table>
                        </div>
                    </div>
                    <!-- end content-->
                </div>
                <!--  end card  -->
            </div>
            <!-- end col-md-12 -->
        </div>
        <!-- end row -->
    </div>
</div>
<div id="popupModal">

</div>
<input type="hidden" name="myedit" id="myedit" value="@Localizer["Edit"]" />
<input type="hidden" name="deletebtn" id="deletebtn" value="@Localizer["Delete"]" />

@section scripts{
    @*@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}*@

    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="~/assets/js/pages/DiscriptionMaster.js?v=@abledoc.Utility.CommonHelper.Version"></script>
    <!-- END PAGE LEVEL PLUGINS -->
}