@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model States;
<div class="modal fade" id="bootstrap-modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">
                  @*   @Localizer["Create"]*@


                    @if (ViewBag.PageMode == "Add")
                    {
                        @Localizer["Create"]
                    }
                    else if (ViewBag.PageMode == "Edit")
                    {
                        @Localizer["Update"]
                    }


                </h4>
            </div>
            <div id="demo-modal">
                <form method="post" id="Stateform">
                    <div class="card">
                        <div class="card-body">
                            <input type="hidden" asp-for="id" />



                            <div class="row">
                                <label for="countrycode" class="col-form-label col-sm-3">@Localizer["Country"] <span class="text-danger">*</span></label>
                                <div class="col-md-9">
                                    <div class="form-group">

                                        @Html.DropDownList("countrycode", abledoc.Utility.ComboHelper.GetCountryList(), Localizer["Select"].Value, new { @id = "countrycode", @class = "form-control select2", @datastyle = "btn btn-link", @name = "countrycode", @placeholder = "Country" })

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label for="code" class="col-form-label col-sm-3">@Localizer["State Code"] <span class="text-danger">*</span></label>
                                <div class="col-md-9">
                                    <div class="form-group">
                                        <input type="text" class="form-control" asp-for="code" />


                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <label for="state" class="col-form-label col-sm-3">@Localizer["State"] <span class="text-danger">*</span></label>
                                <div class="col-md-9">
                                    <div class="form-group">
                                        <input type="text" class="form-control" asp-for="state" />


                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <div class="col-sm-2"><button type="button" class="btn btn-primary-1" id="saveContent">@Localizer["Save"]</button></div>
                        <div class="col-sm-2"><button type="button" class="btn btn-danger" data-dismiss="modal">@Localizer["Close"]</button></div>

                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

@{
    <script>
        $("#Stateform").validate({
            rules: {
                state: "required",
                countrycode: "required",
                code: "required",

            },
            errorElement: 'span',
            errorPlacement: function (error, element) {
                if (element.hasClass('select2') && element.next('.select2-container').length) {
                    error.insertAfter(element.next('.select2-container'));
                } else {
                    error.insertAfter(element.closest('.form-control'));
                }
            },
            highlight: function (element, errorClass, validClass) {
                $(element).addClass('is-invalid');
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).removeClass('is-invalid');
            }
        });
    </script>

}