@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model UserRoles
<div class="modal fade" id="bootstrap-modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">
                    @*@ViewBag.PageMode @Localizer["UserRole"]*@
                    @if (ViewBag.PageMode == "Add")
                    {
                        @Localizer["Add UserRole"]
                    }
                    else if (ViewBag.PageMode == "Edit")
                    {
                        @Localizer["Edit UserRole"]
                    }
                </h4>
            </div>
            <div id="demo-modal">
                <div class="card">
                    <div class="card-body">
                        <form method="post" id="userRoleForm" asp-controller="role" asp-action="Upsert">
                            <input type="hidden" asp-for="RoleId" />
                            <div class="row">
                                <div class="form-group col-sm-3">
                                    <label for="RoleName" class="col-form-label">@Localizer["Role Name"]<span class="text-danger">*</span></label>
                                </div>

                                <div class="form-group col-sm-9">
                                    <input type="text" asp-for="RoleName" class="form-control" id="RoleName" placeholder=@Localizer["Role Name"] required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-3">
                                    <label for="DisplayOrder" class="col-form-label">@Localizer["Display Order"]</label>
                                </div>

                                <div class="form-group col-sm-9">
                                    <input type="number" asp-for="DisplayOrder" class="form-control" id="DisplayOrder" placeholder=@Localizer["Display Order"]>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-3"></label>
                                <div class="col-sm-9">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" asp-for="IsActive" type="checkbox"> @Localizer["Is Active"]
                                            <span class="form-check-sign">
                                                <span class="check"></span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <div class="col-sm-2"><button type="submit" class="btn btn-success" id="saveBtn">@Localizer["Save"]</button></div>
                                <div class="col-sm-2"><button type="button" class="btn btn-danger" data-dismiss="modal">@Localizer["Close"]</button></div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
@*</div>*@
@{
    <script src="~/assets/js/pages/RoleDetail.js?v=@abledoc.Utility.CommonHelper.Version"></script>
}
