@model abledoc.Models.ClientsContacts;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<form method="post" asp-action="AddContact" onsubmit="return jQueryAjaxPost(this);">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" name="flag" id="flag" value="@ViewBag.flag" />
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-8">

                <div class="card">
                    <div class="card-body">
                        <div class="card-collapse">
                            <div class="card-header" role="tab" id="headingContact">
                                <h5 class="mb-0">
                                    <a class="collapsed accordion" data-toggle="collapse" href="#collapseContact" aria-expanded="true" aria-controls="collapseContact">
                                        @Localizer["General"]
                                        <i class="material-icons">keyboard_arrow_down</i>
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseContact" class="collapse show" role="tabpanel" aria-labelledby="headingContact" data-parent="#accordion">
                                <div class="card-body">


                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">@Localizer["Fist Name"]</label>
                                                <input type="text" class="form-control" asp-for="FirstName" id="FirstName" aria-describedby="FirstName" autofocus="true">
                                                <span asp-validation-for="FirstName" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">@Localizer["Last Name"]</label>
                                                <input type="text" class="form-control" asp-for="LastName" id="LastName" aria-describedby="LastName">
                                                <span asp-validation-for="LastName" class="text-danger"></span>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">@Localizer["Title"]</label>
                                                <input type="text" class="form-control" asp-for="Title" id="Title" aria-describedby="Title">
                                            </div>
                                        </div>

                                        <div class="col-sm-6" style="pointer-events: none;">
                                            <div class="form-group">
                                                @*<label class="bmd-label-floating">Client</label>*@
                                                @Html.DropDownList("ClientID", abledoc.Utility.ComboHelper.GetCompanyList(Convert.ToString(Model.ClientID), ViewBag.databasename), Localizer["Select"].Value, new { @id = "ClientID", @class = "form-control", @name = "ClientID" })

                                            </div>

                                        </div>


                                    </div>

                                    <div class="row">

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">@Localizer["Email"]</label>
                                                <input type="email" class="form-control" asp-for="Email" id="Email" aria-describedby="Email">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">@Localizer["Telephone"]</label>
                                                <input type="text" class="form-control" asp-for="Telephone" id="Telephone" aria-describedby="Telephone">
                                                <input type="hidden" id="phone_format" value="@Model.phone_format" />
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">@Localizer["Extension"]</label>
                                                <input type="text" class="form-control" asp-for="Extension" id="Extension" aria-describedby="Extension">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                @*<label class="bmd-label-floating">Language</label>*@
                                                @Html.DropDownList("Language", abledoc.Utility.ComboHelper.GetLangList(), Localizer["Select language"].Value, new { @id = "Language", @class = "form-control selectpicker1 modal-select2", @datastyle = "btn btn-link", @name = "Language", @tabindex = "3", @placeholder = "Language" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                @*<label class="bmd-label-floating">Billing Contact</label>*@
                                                <select class="form-control selectpicker1 modal-select2" datastyle="btn btn-link" asp-for="IsSecBillingContact" id="IsSecBillingContact">
                                                    <option value="">@Localizer["Billing Contact"]</option>
                                                    <option value="0">@Localizer["No"]</option>
                                                    <option value="1">@Localizer["Yes"]</option>
                                                </select>
                                            </div>

                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                @*<label class="bmd-label-floating">Delivery Contact II</label>*@
                                                <select class="form-control selectpicker1 modal-select2" datastyle="btn btn-link" asp-for="IsSecDeliveryContact" id="IsSecDeliveryContact">
                                                    <option value="">@Localizer["Delivery Contact II"]</option>
                                                    <option value="0">@Localizer["No"]</option>
                                                    <option value="1">@Localizer["Yes"]</option>

                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">@Localizer["Cell"]</label>
                                                <input type="text" class="form-control" asp-for="Cell" id="Cell" aria-describedby="Cell">
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">@Localizer["Note On Contact"]</label>
                                                <input type="text" class="form-control" asp-for="NoteOnContact" id="NoteOnContact" aria-describedby="Note On Contact">
                                            </div>
                                        </div>

                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-4">

                <div class="card">
                    <div class="card-body">
                        <div class="card-collapse">
                            <div class="card-header" role="tab" id="headingContactAddr">
                                <h5 class="mb-0">
                                    <a class="collapsed accordion" data-toggle="collapse" href="#collapseContactAddr" aria-expanded="true" aria-controls="collapseContactAddr">
                                        @Localizer["Address"]
                                        <i class="material-icons">keyboard_arrow_down</i>
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseContactAddr" class="collapse show" role="tabpanel" aria-labelledby="headingContactAddr" data-parent="#accordion">
                                <div class="card-body">
                                    <!-- form start -->


                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">@Localizer["Address 1"]</label>
                                                <input type="text" class="form-control" asp-for="Address1" value="@ViewBag.Client.Address1" aria-describedby="Address 1" id="Address1">
                                            </div>
                                        </div>


                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">@Localizer["Address 2"]</label>
                                                <input type="text" class="form-control" asp-for="Address2" value="@ViewBag.Client.Address2" aria-describedby="Address 2" id="Address2">
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">

                                                @Html.DropDownList("Country", abledoc.Utility.ComboHelper.GetCountryList(ViewBag.Client.Country), Localizer["Select Country"].Value, new { @id = "Country", @class = "form-control  selectpicker1 modal-select2", @datastyle = "btn btn-link", @name = "Country", @tabindex = "3", @placeholder = "Country" })
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">

                                                <select class="form-control selectpicker1 modal-select2" datastyle="btn btn-link" asp-for="Province" id="Province">
                                                    <option value="">@Localizer["Select State"]</option>
                                                    @if (new States().GetStateList(ViewBag.Client.Country) != null)
                                                    {
                                                        foreach (var state in new States().GetStateList(ViewBag.Client.Country))
                                                        {

                                                            if (ViewBag.Client.Province == state.state)
                                                            {

                                                                <option selected value="@state.state">@state.state</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@state.state">@state.state</option>
                                                            }

                                                        }
                                                    }

                                                </select>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">@Localizer["City"]</label>
                                                <input type="text" class="form-control" asp-for="City" value="@ViewBag.Client.City" aria-describedby="City" id="City">
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">@Localizer["Postal Code"]</label>
                                                <input type="text" class="form-control" asp-for="PostalCode" value="@ViewBag.Client.PostalCode" aria-describedby="PostalCode" id="PostalCode">
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="card-footer">
        <button type="submit" class="btn btn-primary-1"><i class="fa fa-save"></i> @Localizer["Save"]</button>
    </div>
</form>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="~/assets/js/pages/Contacts.js?v=@abledoc.Utility.CommonHelper.Version"></script>
<script>


        $(document).ready(function () {
            @*$('.selectpicker').selectpicker('setStyle', 'btn btn-link');
            $('.filter-option').addClass('filter-option-1');*@

        });


</script>